.container {
	display:flex;
  height: 70vh;
}

.myId {
  width: 20vw;
	border-radius: 5px;
	background: #fff;
	padding: 2rem;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	/* justify-content: center;
	align-content: center; */
	/* margin-top: 10rem;
	margin-left: 10rem; */
  display:flex;
  width:80vw;
}
/* .video-container{

} */

.caller {
	text-align: center;
	color: #fff;
}

body {
	background: #afafaf;
}
.myVideo{
  max-height: 20vh;
  max-width:30vw;
  position: fixed;
  float:left;
  margin: 0;
  transform: rotateY(180deg);
  z-index: 1;
}

.participantVideo{
  height: 80vh;
  width: 100%;
  transform: rotateY(180deg);
  z-index: -1;
}

.name{
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  width: 100%;
}
input{
  margin-left: 10vw;
  width: 80vw;
  height:10vh;
  border: 0px;
  border-radius: 25px;
  padding: 10px;
}
.proceedBtn{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  width: 50vw;
  height:10vh;
  background-color: black;
  color: whitesmoke;
  border: 0px;
  border-radius: 25px;
  padding: 10px;
}
.user{
  padding: 20px;
  width: 100%;
  color:black;
  background-color: white;
  border:0;
}